@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*** SWIPE LIST OVERRIDES **/

.swipe-action__leading {
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  font-size: 1.6rem;
  font-weight: 700;

}

.swipe-action__trailing {
  background-color: #f97316;
  border-radius: 5px;
  color: #fff;
  font-size: 2.4rem;
  font-weight: 700;
}

.swipeable-list .swipe-action {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: right;
}

/*** RANDOM BUTTON **/

.random:hover:after {
  content: attr(data-hover);
  font-size: 36px;
  font-family: 'Dancing Script', cursive;
}

.random:hover{
  font-size: 0;
}

.random{
  transition: background-color 0.5s ease;
  font-size: 25px;
}

.swipe-box{
  display: none;
}

@media screen and (min-width: 1300px) {
  .swipe-box{
    display: block;
  }
 }

/*** SWIPE ADVISE **/

.swipe{
  animation: animate 1s linear infinite;
}

.swipe-arrow-left{
  font-size: 80px;

}

.swipe-arrow-right{
  font-size: 80px;
}

.swipe-text{
  font-family: 'Dancing Script', cursive;
  font-size: 36px;
}

.swipe-hand{
  font-size: 42px;
}


@keyframes animate
{
  0%
  {
    transform: translateX(80px);
    opacity: 0;
    filter: blur(4px);
  }
  15%
  {
    transform: translateX(150px);
    opacity: 1;
    filter: blur(0);
  }
  60%
  {
    transform: translateX(180px);
    opacity: 1;
  }
  100%
  {
    transform: translateX(200px);
    opacity: 0;

  }
}
.img-footer{
  filter: invert();
}


/*** STORAGE **/

.storage {
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.storage:hover{
  opacity:.5;
}

#chakra-modal-242{
  background-color: #333;
  box-shadow: 0 0 15px #000;
}

.css-a9ouig {
  background: #333;
}