@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*** SWIPE LIST OVERRIDES **/

.swipe-action__leading {
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  font-size: 2.4rem;
  font-weight: 700;

}

.swipe-action__trailing {
  background-color: #f97316;
  border-radius: 5px;
  color: #fff;
  font-size: 2.4rem;
  font-weight: 700;
}

.swipeable-list .swipe-action {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: right;
}

/*** RANDOM BUTTON **/

.random:hover:after {
  content: attr(data-hover);
  font-size: 36px;
  font-family: 'Dancing Script', cursive;
}

.random:hover{
  font-size: 0;
}

.random{
  transition: background-color 0.5s ease;
  font-size: 25px;
}

.swipe-box{
  display: none;
}

@media screen and (min-width: 1300px) {
  .swipe-box{
    display: block;
  }
 }

/*** SWIPE ADVISE **/

.swipe{
  animation: animate 1s linear infinite;
}

.swipe-arrow-left{
  font-size: 80px;

}

.swipe-arrow-right{
  font-size: 80px;
}

.swipe-text{
  font-family: 'Dancing Script', cursive;
  font-size: 36px;
}

.swipe-hand{
  font-size: 42px;
}


@keyframes animate
{
  0%
  {
    transform: translateX(80px);
    opacity: 0;
    filter: blur(4px);
  }
  15%
  {
    transform: translateX(150px);
    opacity: 1;
    filter: blur(0);
  }
  60%
  {
    transform: translateX(180px);
    opacity: 1;
  }
  100%
  {
    transform: translateX(200px);
    opacity: 0;

  }
}
.img-footer{
  filter: invert();
}


/*** STORAGE **/

.storage {
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.storage:hover{
  opacity:.5;
}

.css-79z5gx{
  background-color: #333;
  box-shadow: 0 0 15px #000;
}

.css-a9ouig {
  background: #333;
}

/** Nav Button **/

.navButton {
  position: fixed;
  top: 58px;
  right: 0;
  z-index: 2;
}

@media screen and (min-width: 1000px) {
  .navButton {
    display: block;
    position: unset;
    text-align: right;
  }

 }


 /** Icons **/

 .animate-icon {
  animation: animate-icon 6s linear infinite;
 }

 @keyframes animate-icon { 
   100% { 
     transform:rotate(360deg); 
    } 
  }

  .portal {
    width: 50px;
    margin-right: 20px;
    filter: brightness(10) grayscale() ;
  }

  /** single cards **/

  .single-cards{
    animation: animate-cards 1.5s linear 
  }

  @keyframes animate-cards { 
    0% { 
      opacity: 0; 
     }
    100% {
      opacity: 1;
    }
   }

  /** Footer **/

  .footer{
    height: 200px;
  }

  @media screen and (min-width: 960px) {
    .footer{
      height: 100px;
    }
   }
  

   /** image **/

   .selector {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/** NavBar **/

.navbar {
  flex-direction: row;
}

.form_search{
  display: none;
}

@media screen and (min-width: 960px) {

  .navbar {
    flex-direction: row;
  }

  .form_search{
    display: block;
  }

 }

 /** Icons **/
 .rick-api,
 .icons {
   display: none;
 }

 @media screen and (min-width: 1200px) {
  .rick-api,
  .icons {
    display: flex;
  }
  }
 